body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label, input {
    font-size: 25px;
}
button {
    padding: 10px;
    background-color: #914719;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-size: 25px;
    font-size: larger;
}

button:focus,
button:hover {
    background-color: rgb(250, 170, 91);
    border-color: rgb(255, 226, 160);
    box-shadow: 0 0 50px rgba(255, 157, 65, 0.618);
    color: #1c1c1c;
}
canvas {
    margin-top: 35px;
    border-radius: 20px;
    border: 3px solid #dbdbdb;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.129);
}